section#dish-details {
    header {
        margin-bottom: 2em;
        .rating-stars {
            i {
                font-size: 1.5em;
                color: rgb(255, 255, 0);
                opacity: .5;
                cursor: pointer;
            }
        }
    }
    .description {
        margin-bottom: 5em;
    }
    .gallery {
        margin-bottom: 10em;
    }
    #dish-photos {
        width: 400px;
        margin: 0 auto;
        ol.carousel-indicators {
            top: 20em;
            li {
                max-width: initial;
                width: 100px;
            }
        }
    }
    .comments {
        .form {
            width: 75%;
            margin: 0 auto;
            margin-bottom: 4em;
        }
        .list {
            width: 75%;
            margin: 0 auto;
            &> div.row {
                -webkit-box-shadow: 8px 7px 5px -4px rgba(0,0,0,0.5);
                -moz-box-shadow: 8px 7px 5px -4px rgba(0,0,0,0.5);
                box-shadow: 8px 7px 5px -4px rgba(0,0,0,0.5);
                &:not(:last-of-type) {
                    margin-bottom: 1em;
                }
                .author {
                    margin-bottom: 1em;
                }
                .comment {
                    font-style: italic;
                    padding-bottom: 1em;
                }
            }
        }
    }
}
