body.frontend {
    main {
        height: 100%;
        &> section {
            min-height: 1000px;
            height: 100%;
            padding-top: 3em;
            padding-bottom: 3em;
        }
    }
}
