.mt-30 {
    margin-top: 30px;
}

.cursor-pointer {
    cursor: pointer;
}

.text-italic {
    font-style: italic;
}

.pull-auto {
    display: block;
    margin: 0 auto;
}

.mt-50 {
    margin-top: 50px;
}

.font-size-2em {
    font-size: 2em;
}

.text-bold {
    font-weight: bold;
}

.mt-10 {
    margin-top: 10px;
}
