@mixin progress-bar-color($color) {
    &[value]::-moz-progress-bar {
        background-color : $color;
    }

    &[value]::-webkit-progress-bar {
        background: $color;
    }
}

@mixin progress-bar-value-color($color) {
    &[value]::-moz-progress-value {
        background: $color;
    }

    &[value]::-webkit-progress-value {
        background: $color;
    }

}
