body.frontend {
    background-color: #000;
    height: 1000px;
    header {
        nav {
            display: block;
            width: 100%;
            position: fixed;
            z-index: 16;
            background-color: #fff;
            height: 60px;
            progress {
                top: -12px;
                position: relative;
                width: 100%;
                height: 5px;
                @include progress-bar-value-color(#e80000);
                @include progress-bar-color(#fff);
            }
        }
        #header-slider {
            padding-top: 60px;
        }
    }

}
