<section id="reservation" class="container-fluid">
    <div class="container">
        <div class="form">
            <div class="date form-group">
                <label>Wybierz datę:</label>
                <input ng-model="reservation.datetime" ng-change="setReservationDate()" type="datetime-local" class="form-control">
            </div>
            <div ng-if="dataStorageService.getData('reservation').date" class="table">
                <div class="table-map">
                    <div ng-click="setReservationTable($event, table._id)" ng-class="{unavailable: !table.available, active: table._id == reservation.tableId}" ng-repeat="table in getAvailableTables()" class="table" data-toggle="tooltip" data-placement="top" title="Stolik nr {{ table.number }}, ilość miejsc - {{ table.seats }}"></div>
                </div>
            </div>
            <div ng-if="dataStorageService.getData('reservation').tableId" class="menu">
                <div class="col-md-12 text-center mt-50 font-size-2em">
                    Opcjonalnie <a href="/#!/menu/"><strong>tutaj</strong></a> możesz zarezerwować również potrawy.
                </div>
                <div ng-if="dataStorageService.getData('reservation').dishes && dataStorageService.getData('reservation').dishes.length" class="list mt-50">
                    <h3 class="text-center">Zarezerwowane potrawy</h3>
                    <div class="row text-bold text-center mt-30">
                        <div class="col-md-6">
                            Potrawa
                        </div>
                        <div class="col-md-2">
                            Ilość
                        </div>
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                    </div>
                    <div ng-repeat="dish in dataStorageService.getData('reservation').dishes" class="row text-center mt-10">
                        <div class="col-md-6">
                            {{ getDishLabelByDishId(dish.dishId) }}
                        </div>
                        <div class="col-md-2">
                            {{ dish.quantity }}
                        </div>
                        <div class="col-md-4">
                            <button ng-click="removeDishFromReservation(dish.dishId)" class="btn btn-danger cursor-pointer">
                                Usuń z rezerwacji
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="dataStorageService.getData('reservation').tableId" class="finalize mt-50">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button ng-click="" class="btn btn-success cursor-pointer">
                            Finalizuj rezerwację
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
